*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

/* Utilities */

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.btn{
  display: inline-block;
  background-color: pink;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 900;
}


/* navbar */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 100px;
}

nav .logo img{
  width: 100px;
  height: 100px;
}

nav .nav-item ul{
  display: flex;
}

nav .nav-item ul li{
  margin: 0px 40px;
}

nav .nav-item ul li a{
  padding: 10px 10px;
}

nav .nav-item ul li a:hover{
  border-bottom: 5px solid pink;

}

/* Banner */

#banner {
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}

#banner h1{
  font-size: 5vw;
  font-weight: lighter;
  line-height: 1;
  align-self: center;
  padding-top: 80px;
  padding-left: 50px;
}

#banner .btn{
  margin: 20px 60px;
}

#banner .btn:hover{
  background-color: #ffb6c1;
}

/* Showcase */

#showcase h2{
  text-align: center;
  font-size: 2vw;
  margin: 20px;
}

#showcase>p{
  text-align: center;
  font-size: 1vw;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid pink;
}

#showcase .collection{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
}

#showcase .item {
  background-color: whitesmoke;
  border:0px solid;
  padding: 10px;
}

#showcase .item img{
  width: 100%;
}

#showcase .detail h3,p{
  padding: 10px;
}

#showcase .item a{
  margin-left: 5px;
}